@keyframes labelup {
  0% {
    transform: translateY(26px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes labeldown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(26px);
  }
}

.sol-text-field {
  padding: 0;
  position: relative;
  border: 2px solid gray;
  border-radius: 16px;
  min-height: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--focused {
    border: 2px solid cornflowerblue;
  }

  &__label {
    z-index: 1;
    padding-left: 14px;
    font-size: 18px;
    color: gray;
    position: absolute;
    animation: labeldown 0.15s ease-out forwards;
    transition: all 0.15s;
    pointer-events: none;
    top: -10px;

    &--focused {
      color: cornflowerblue;
    }

    &--up {
      font-size: 14px;
      animation: labelup 0.15s ease-out forwards;
      margin-left: 9px;
    }
  }

  &__legend {
    padding: 0 10px;
    margin-left: 14px;
    visibility: hidden;
    height: 0;
    font-size: 14px;

    &--hidden {
      display: none;
    }
  }

  &__input {
    border: none;
    border-radius: 10px;
    outline: none;
    width: 100%;
    min-height: inherit;
    margin: 0;
    padding: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: transparent;
    resize: none;
  }
}
